*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;     
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
}
.container{
    text-align: center;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(240, 239, 239, 0.5);
}
h1{
    color: #ffffff;
    margin-bottom: 20px;
}

#display{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

